<div class="header">
    <h1>ONLINE STORE</h1>
   </div>
   
  
  
  <form (ngSubmit)="addCustomer()">
     
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="customerWrapper.customer.name" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="customerWrapper.customer.email" />
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" [(ngModel)]="customerWrapper.customer.phone" />
    </div>
    <div>
      <button  type="submit">PROCEED TO CHECKOUT</button>
    </div>
  </form>
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <p>Amount Due: {{ invoice.AmountDue }} {{ invoice.Currency }}</p> -->
  